body {
	margin: 0;
	padding: 3em;
	padding-top: 4em;
	font-family: sans-serif;
}
input, button {
	font-size: 1.5em;
	margin-right: 0.25em;
}
.submit {
	background-color: #b3f1ff;
	color: black;
}
.submit:disabled {
	color: gray;
	background-color: #d3f8ff;
}
#ribbon {
	position: fixed;
	width: 100%;
	padding: 0.25em;
	padding-left: 0;
	top: 0;
	left: 0;
	background: white;
	border-bottom: 1px solid lightgray;
	overflow: hidden;
	z-index: 2;
}
#ribbon a {
	padding: 0.5em 1em;
	font-weight: bold;
	color: #999;
	cursor: pointer; 
}
#ribbon .current {
	color: white;
	background-color: #AAA;
}
#searchFrame {
	display: none;
}
#results {
	margin-top: 4em;
	overflow: auto;
}
#searchResults {
	font-size: 100%;
	margin: 2em;
}
#searchResults div {
	padding-bottom: 2em;
}
#searchResults div + div {
	border-top: solid 1px silver;
	padding-top: 1em;
}
#dictionary_popup {
	display: none;
	margin: 0;
	padding: 0;
	position: fixed;
	right: 0.25em;
	top: 0.25em;
	bottom: 0.25em;
	width: 50%;
	overflow: hidden;
	z-index: 10;
}
#dictionary {
	box-sizing: border-box;
	padding: 1em;
	position: absolute;
	top: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: solid 1px #CCCCEE;
	background-color: #FFFFEE;
	font-family: serif;
	font-size: 120%;
	overflow: auto;
	z-index: 15;
}
#dictionary div {
	padding-bottom: 2em;
}
#dictionary div + div {
	border-top: solid 1px silver;
	padding-top: 1em;
}
.close_button {
	position: absolute;
	top: 1.5em;
	right: 1.5em;
	width: 3em;
	height: 3em;
	opacity: 0.25;
	z-index: 50;
	border: 1px solid gray;
}
.close_button:hover {
	opacity: 1;
}
.close_button:before, .close_button:after {
  position: absolute;
  right: 1.25em;
  content: ' ';
  height: 3em;
  width: 0.5em;
  background-color: gray;
}
.close_button:before {
  transform: rotate(45deg);
}
.close_button:after {
  transform: rotate(-45deg);
}
table {
	border-collapse: collapse;
}
table, tr, td {
	border: 1px solid #CCCCCC;
	padding: 1em;
}
.loading {
	padding: 0 2em 0 1em;
	font-style: italic;
	font-weight: bold;
	background-image: url("loading.gif");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 1.2em 1.2em;
}
.no_result {
	font-style: italic;
	color: #990000;
	font-size: 1.25em;
	padding-left: 1em;
}
.testing {
	color: #9999FF;
	font-style: italic;
	font-family: serif;
}
.roots {
	color: MediumBlue;
	cursor: pointer;
}